*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightskyblue;
}

textarea{
    border: none;
    border-radius: 5px;
    outline: none;
}
p{
    margin-left: 120px;
}