*{
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    position: relative;
}
input{
    border: solid 1.5px orange;
    border-radius: 5px;
    background: none;
    padding: .5rem;
    font-size: 1rem;
    outline-color: #f5f5f5;
    transition: 150ms cubic-bezier(.4,0,.2, 1);
}
label{
    position: absolute;
    left: 16px;
    pointer-events: none;
    transition: 150ms cubic-bezier(.4,0,.2, 1);
    transform: translateY(1rem);
}
input:focus{
    outline: none;
    border: 1.5px solid lightsteelblue;
}
input:focus ~ label{
    transform: translateY(-90%) scale(1.1);
    background-color: black;
    color: lightsteelblue;

}